.Square {    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.Board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    height: 100px;
    width: 100px;
    background-color: black;
    border: 2px solid black;
    margin-bottom: 30px;
}

.Blue {
    color: blue;
}

.Red {
    color: red;
}